.menu {
    &__list {
        min-height: 100vh;
        padding: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__list li {
        box-shadow: 0 5px 10px rgb(44, 44, 44);
    }
    &__list li:hover {
        transition: .3s;
        box-shadow: 0 5px 25px rgb(145, 145, 145);
    }
}